{% load static %}

  <script src="{% static 'js/models/type.js' %}"></script>
  <script src="{% static 'js/models/type_map.js' %}"></script>
  <script src="{% static 'js/models/schema.js' %}"></script>

  <script src="{% static 'js/evedb/evedb.service.js' %}"></script>
  <script src="{% static 'js/eve_central.service/eve_central.service.js' %}"></script>

  <script src="{% static 'js/pi_calc/pi_calc.js' %}"></script>
  <script src="{% static 'js/pi_calc/pi_calc.config.js' %}"></script>
  <script src="{% static 'js/pi_calc/pi_calc.controller.js' %}"></script>
  <script src="{% static 'js/pi_calc/pi_calc.directives.js' %}"></script>